<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_2_3_4.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>VILLARTEEEEEE</h1>
    <ul>
    {% for favorito in favoritos %}
        <li>{{ favorito.peli }} - Categoría: {{ favorito.categoria }}</li>
    {% endfor %}
    </ul>
    <img src="{{ url_for('static', filename='img/hola.png') }}" alt="Hola">
</body>
</html>